<h2>Calendar embedded in custome view, other then mount path</h2>



  <div>
    <div class="calendar"></div>
  </div>
  <div id = "create_event_dialog" class="dialog" style ="display:none;"></div>
  <div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>

  <script type="text/javascript">
    $('.calendar').fullCalendar(full_calendar_options);
  </script>