<h2>Fullcalendar engine demo app</h2>
<ul>
  <li>
    <%=link_to 'Here', fullcalendar_engine_path %> is the calendar on the mount path.
  </li>
   <li>
    <%=link_to 'Here', kalendar_path %> is the calendar on a custom page(Other than mount path)
  </li> 
</ul>
